html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Grid layout */
.grid-container{
    width: 100%;
    display: grid;
    background-color: #003e29;
    grid-template-rows: 66px 1fr 1fr 15vh;
    grid-template-columns: 20% 1fr 1fr;
}

/* Header */
.header{
    grid-column: 1 / 4;
    position: sticky;
    top: 0px
}

/* Sidenav */
.sidenav{
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}

/* Main */
.main{
    margin-top: 1px;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    background-color: #003e29;
}

/* Footer */
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 4 / 5;
    grid-column: 1 /4;
    background-color: white;
}

.logo-footer{
  height: 70px;
  display: flex;
  margin: 16px auto 16px auto;
  grid-column: 2 / 3;
}

.footer-data{
  grid-template-columns: 3 / 4;
  margin: auto auto auto 16px;
}

/* Navbar */
ul{
    list-style-type: none;
    margin: 0;
    padding: 10px 25px 10px 25px;
    overflow: hidden;
    background-color: white;
  }
  
  li{
    float: right;
  }
  
  li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover{
    opacity: 0.7;
  }

  #logo-navbar{
    height: 46px;
    padding: 0;
  }

  #logo-navbar:hover{
    background-color: transparent;
  }

/* Sidenav */
.sidenav{
  background-color: #ffff;
  overflow-x: hidden;
  padding-top: 10px;
  margin: 5vh 10px 30vh 10px;
  border-radius: 10px;
}

.sidenav a, .dropdown-btn{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover, .dropdown-btn:hover{
  opacity: 0.7;
}

.active{
  opacity: 0.7;
}

.dropdown-container{
  display: none;
  background-color: #f0f0f0;
  padding-left: 8px;
}

/* Main grids */
.products-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Products */
.product{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 5vh;
  text-align: center;
  font-family: arial;
  border: solid 1px black;
  background-color: #ffff;
  border-radius: 10px;
}

.price{
  color: grey;
  font-size: 22px;
}

.product button{
  border: none;
  outline: 0;
  padding: 12px 70px 12px 70px;
  color: white;
  background-color: #003e29;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

.product button:hover{
  opacity: 0.7;
}

button{
  margin: 10px;
  border-radius: 10px;
}

.product-image{
  border-radius: 10px 10px 0 0;
}

/* Tablets */
@media screen and (max-width: 1024px) {
  .grid-container {
      grid-template-rows: 66px auto 1fr 15vh;
      grid-template-columns: 25% 1fr;
  }

  .sidenav {
      max-height: 300px; 
      overflow-y: auto;
  }

  .main {
      grid-column: 2 / 3;
  }

  .products-container {
      grid-template-columns: 1fr 1fr;
  }
}

/* Grote telefoons */
@media screen and (max-width: 768px) {
  .grid-container {
      grid-template-rows: 66px auto 1fr 15vh;
      grid-template-columns: 1fr;
  }

  .sidenav {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      max-height: 200px;
      overflow-y: auto;
  }

  .main {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
  }

  .products-container {
      grid-template-columns: 1fr;
  }
}

/* Telefoons */
@media screen and (max-width: 480px) {
  .grid-container {
    width: 320px;
    display: block;
    grid-template-columns: 1fr; 
}

  .sidenav {
      margin: 5vh 5px 30vh 5px;
      max-height: 150px;
      overflow-y: auto;
  }

  .product button {
      padding: 12px 50px;
  }

  .price {
      font-size: 18px;
  }
}