html, body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Grid layout */
.grid-container{
    width: 100vw;
    max-width: 100%;
    display: grid;
    background-color: #003e29;
    grid-template-rows: 66px 1fr 1fr 15vh;
    grid-template-columns: 20% 1fr 1fr;
}

.grid-item{
    
}

/* Header */
.header{
    grid-column: 1 / 4;
}

/* Sidenav */
.sidenav{
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}

/* Main */
.main{
    margin-top: 1px;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    background-color: #003e29;
}

/* Footer */
.footer{
    grid-row: 4 / 5;
    grid-column: 1 /4;
    background-color: white;
}

/* Navbar */
ul{
    list-style-type: none;
    margin: 0;
    padding: 10px 25px 10px 25px;
    overflow: hidden;
    background-color: #ffff;
  }
  
  li{
    float: right;
  }
  
  li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover{
    color: #111;
  }

  #logo{
    height: 46px;
    padding: 0;
  }

  #logo:hover{
    background-color: transparent;
  }

/* Sidenav */
.sidenav{
  background-color: #ffff;
  overflow-x: hidden;
  padding-top: 10px;
  margin: 5vh 10px 30vh 10px;
  border-radius: 10px;
}

.sidenav a, .dropdown-btn{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover, .dropdown-btn:hover{
  color: #f1f1f1;
}

.active{
  color: white; 
}

.dropdown-container{
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Main grids */
.products-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Products */
.product{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 5vh;
  text-align: center;
  font-family: arial;
  border: solid 1px black;
  background-color: #ffff;
  border-radius: 10px;
}

.price{
  color: grey;
  font-size: 22px;
}

.product button{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #003e29;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

.product button:hover{
  opacity: 0.7;
}

button{
  margin: 10px;
  border-radius: 10px;
}

.product-image{
  border-radius: 10px 10px 0 0;
}